# Windows / WSL executables
*.exe
main
a.out

# Problem files
input*.txt
output*.txt
problem.html
image*.png
image*.jpg
image*.gif

# Python
__pycache__/
*.pyc
.env

# Config & Data
.sirius-cf-cli.json
.sirius-cses-cli.json
.sirius-cses-index.json

# Offline Workspaces (if initialized in repo root)
cf-offline/
cses-offline/
